@font-face{
  font-family: 'AppleSDGothicNeoL';
  src: url(../font/AppleSDGothicNeoL.ttf)format('truetype');
}
@font-face{
  font-family: 'AppleSDGothicNeoB';
  src: url(../font/AppleSDGothicNeoB.ttf)format('truetype');
}
*{margin: 0; padding: 0;}
ul{list-style: none;}
a{text-decoration: none; color: inherit;}
.clearfix::after{
  content: "";
  display: block;
  clear: both;
}
body{
  font-family: "AppleSDGothicNeoL";
  background-color: #222831;
  color: #eee;
}