/*searchbar START*/
.searchbar{
  width: 620px;
  height: 42px;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  left: 50%; top: 360px;
  border-radius: 15px;
  transform: translateX(-50%);
}
.searchbar>input{
  width: 145px;
  height: 30px;
  border: none;
  outline: none;
  margin-top: 6px;
  text-indent: 41px;
}
.searchbar>:nth-child(1){
  background: url(../img/pin.png) no-repeat 15px center;
}
.searchbar>input[type=date]{
  /*background: url(../img/calender.png) no-repeat 15px center;*/
  text-indent: 3px;
  background: #0000000d;
  border-radius: 5px;
  font-family: 'AppleSDGothicNeoB';
  color: #333;
}
.searchbar>input:nth-child(4){
  background: url(../img/user_searchbar.png) no-repeat 15px center;
}
.searchbar>input[type=submit]{
  width: 42px;
  height: 42px;
  position: absolute;
  top: -6px;  right: 0;
  background: url(../img/searchbar_button.png);
  color: transparent;
  cursor: pointer;
  opacity: 0.8;
}
/*searchbar END*/